<mat-card class="card" *ngFor="let project of projects">
  <mat-card-header>
    <mat-card-title>{{project.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{project.imageUrl}}" alt="{{project.imageAltText}}">
  <mat-card-content>
    <p>{{project.description}}</p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button *ngIf="project.demoUrl" mat-stroked-button color="primary" class="button"
      (click)="openLink(project.demoUrl)">Demo</button>
    <button *ngIf="project.gitUrl" mat-stroked-button color="primary" class="button"
      (click)="openLink(project.gitUrl)">GitHub</button>
  </mat-card-actions>
</mat-card>
