.punchline {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: gray;
  color: white;
}
.project-container {
  display: flex;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}
